# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Dados
uploads/
data/
*.pdf

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log 